.resume-nav{
    background: rgb(30,87,153); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 48%, rgba(32,124,202,1) 55%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 48%,rgba(32,124,202,1) 55%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 48%,rgba(32,124,202,1) 55%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: black;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav-tabs{
    list-style: none;
    
    display: inline
}
.nav-tabs a{
    color: white;
    text-decoration: none;
    padding: 15px 50px;
    font-weight: 600;
    letter-spacing: .1em;
}
.nav-tabs a:hover{
    background: white;
    color: royalblue;
    transition: .5s ease-in-out;
    border-bottom: 1px solid 
}
.icon-user{
    position: absolute;
    right: 20px;
    top: 95px;
    font-size: 30px;
}